.container {
    padding: 25px 20px;
    .button-panel {
        margin-bottom: 25px;
        .button-group {
            display: flex;
            justify-content: flex-end;
        }
    }
    .content-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        &.full {
            grid-template-columns: 100%;
        }
    }
    .create-edit-modal-wrap {
        margin-top: 70px;
        margin-left: 25px;
    }
}

.notifications {
    height: 60px;
  }